.container-benefits {
  width: 1352px;
  margin: 0 auto;
  background-color: $color-light-grey;
  @media (max-width: 1352px){
    width:100%;
  }
}

.benefits{
  width: 100%;
  background-color: $color-light-grey;
  .benefits__box{
    margin: 2.625rem 1.875rem;
    display: flex;
    flex-direction: column;
    .benefits__box-one, .benefits__box-two{
      background-color: $color-white;
      margin: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.875rem 1.375rem;
      @include desktop{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        height: 370px;
      }
      .benefits__box-text-primary{
        font-size: 1.875rem;
        line-height: 2rem;
        padding: 1.68rem 0;
      }
      .benefits__box-image-1 img,
      .benefits__box-image-2 img,
      .benefits__box-image-3 img{
        position: relative;
        z-index: 1;
        width:192px;
        height: 109px;
        @include desktop{
          width: 386px;
          height: 219px;
        }
      }
    }
  }
}
.benefits__box-three {
  background-color: $color-white;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 0 0;
  @include desktop{
    flex-direction: row;
    gap: 20%;
    padding-top: 0;
    height: 370px;
    background-color: $color-light-grey;
  }
  .benefits__box-text-three{
    padding: 1.875rem 1.375rem;
    background-color: $color-white;
  }
  .benefits__box-text-primary{
    font-size: 1.875rem;
    line-height: 2rem;
    padding-bottom: 1.68rem;
  }
  .benefits-box-3-img {
    background-color: $color-green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 195px;
    @include desktop{
      height: 370px;
    }
    .benefits__box-image-3 img{
      width:192px;
      height: 109px;
      @include desktop{
        width: 386px;
        height: 219px;
      }
  }
}
}
.benefits__box-image-1{
  position: relative;
  margin-top:0.5rem;
  @include desktop{
    margin-top: 1rem;
  }
  &:before{
    content:'';
    border-radius: 41px;
    width:127px;
    height: 127px;
    background-color: $color-redish;
    position: absolute;
    top:-24%;
    right: 0;
    z-index: 0;
    transform: rotate(45deg);
    @include desktop{
      top:-34%;
      right: 5%;
      width: 255px;
      height: 255px;
    }
  }
}
.benefits__box-image-2{
  position: relative;
  margin-top:0.5rem;
  &:before{
    content:'';
    border-radius: 50%;
    width:127px;
    height: 127px;
    background-color: $color-primary;
    position: absolute;
    top:-10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    @include desktop{
      width: 320px;
      height: 320px;
      top:-25%;
    }

  }
}
.benefits__box-text-three, .benefits__box-text-two, .benefits__box-text-one{
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    max-width: 416px;
  }
  .benefits__box-text-primary{
    justify-self: flex-start;
  }
}
.line-one, .line-two, .line-three {
  @include desktop {
    width: 80%;
    height: 4px;
    background-color: black;
  }
}
.line-one{
  @include desktop{
    background-color: $color-redish;
  }
}
.line-two{
  @include desktop{
    background-color: $color-primary;
  }
}
.line-three{
  @include desktop{
    background-color: $color-green;
  }
}