@mixin desktop {
  @media (min-width: 800px) {
    @content;
  }
}

.header{
  width: 100vw;
  height: 100vh;

  .header__nav-first{
    max-width: 100%;
    height: 4.375rem;
    box-shadow: 0 3px 6px $color-primary-shadow;
    background: transparent;
    margin: 0 auto;
  }
}
.container {
  width: 1352px;
  margin: 0 auto;
  background: $color-white;
  background: transparent;

  @media (max-width: 1352px){
    width:100%;
    padding: 0 15px;
  }
}
.header__nav-logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  background: transparent;


  .header__nav--logo {
    font-size: 2rem;
    line-height: 37px;
    color: $color-primary;
    font-family: $font-family-raleway;
    font-weight: 300;
    background: transparent;
  }

  .hamburger {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;

    @include desktop {
      display: none;
    }

    &:checked {
      ~ .header__nav--menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: 0;
        top: 76px;
        background: $color-white;
        width: 100%;
        padding-bottom: 1.5rem;
        box-shadow: 0 3px 6px $color-primary-shadow;
      }
      ~.hamburger1 {
        span {
          &:first-child{
          transform: rotate(45deg) translate( 2px, 5px);
          }
          &:nth-child(2){
            opacity:0;
          }
          &:last-child {
            transform: rotate(-45deg) translate(2px, -5px);
          }
        }
      }
    }

  }


  .header__nav--menu {
    display: none;
    text-transform: uppercase;
    color: $color-grey;
    font-size: 0.6875rem;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    align-items: center;
    background: transparent;


    .header__nav--menu-link {
      margin: 20px;
      box-sizing: border-box;


      &:last-child {
        margin-right: 0;
      }

      a {
        color: $color-grey;
        text-decoration: none;
        padding: 23px 5px;

        &:hover {
          color: $color-black;
          border-bottom: solid 5px $color-primary;

          }
        }
      }
    @include desktop{
      display: flex;
      margin-right: 8px;
    }
    }
  }
.hamburger1 {
  @include desktop{
    display: none;
  }

  span {
    width: 20px;
    height: 2px;
    background: $color-primary;
    display: block;
    margin: 3px 20px;
  }
  }
.nav {
  margin-right: 15px;
}


