@import "reset";
@import "variables";
@import "navigation";
@import "banner";
@import "statistics";
@import "benefits";
@import "pricing";
@import "contact";
@import "footer";

:root {
  font-family: 'Open Sans', sans-serif;
}
//NAGŁOWEK





 /*




.footer {
  height: 5.5625rem;
  display: block;
  box-shadow: 0 -5px 40px var(--color-primary-shadow);
  background: var(--color-light-grey);
}
.footer .container{
  height: 5.5625rem;
  display: block;
}
.footer__logo_icons {
  height: 5.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light-grey);
}
.footer__logo--text{
  font-size: 1.625rem;
  line-height: 1.875rem;
  color: var(--color-primary);
  font-family: var(--font-family-raleway);
  font-weight: 300;
  margin-bottom: 0.375rem;
}
.footer__logo--additional-text{
  font-size: 0.6875rem;
  color: var(--color-primary-shadow);
  line-height: 1rem;
  font-weight: 400;
}
.footer__icons img{
  margin: 10px;
}
*/