/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  width: 100vw;
  height: 100vh;
}
.header .header__nav-first {
  max-width: 100%;
  height: 4.375rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  background: transparent;
  margin: 0 auto;
}

.container {
  width: 1352px;
  margin: 0 auto;
  background: #FFFFFF;
  background: transparent;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.header__nav-logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  background: transparent;
}
.header__nav-logo-menu .header__nav--logo {
  font-size: 2rem;
  line-height: 37px;
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background: transparent;
}
.header__nav-logo-menu .hamburger {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}
@media (min-width: 800px) {
  .header__nav-logo-menu .hamburger {
    display: none;
  }
}
.header__nav-logo-menu .hamburger:checked ~ .header__nav--menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 76px;
  background: #FFFFFF;
  width: 100%;
  padding-bottom: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.header__nav-logo-menu .hamburger:checked ~ .hamburger1 span:first-child {
  transform: rotate(45deg) translate(2px, 5px);
}
.header__nav-logo-menu .hamburger:checked ~ .hamburger1 span:nth-child(2) {
  opacity: 0;
}
.header__nav-logo-menu .hamburger:checked ~ .hamburger1 span:last-child {
  transform: rotate(-45deg) translate(2px, -5px);
}
.header__nav-logo-menu .header__nav--menu {
  display: none;
  text-transform: uppercase;
  color: #A5A5A5;
  font-size: 0.6875rem;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  align-items: center;
  background: transparent;
}
.header__nav-logo-menu .header__nav--menu .header__nav--menu-link {
  margin: 20px;
  box-sizing: border-box;
}
.header__nav-logo-menu .header__nav--menu .header__nav--menu-link:last-child {
  margin-right: 0;
}
.header__nav-logo-menu .header__nav--menu .header__nav--menu-link a {
  color: #A5A5A5;
  text-decoration: none;
  padding: 23px 5px;
}
.header__nav-logo-menu .header__nav--menu .header__nav--menu-link a:hover {
  color: #000000;
  border-bottom: solid 5px #08A6E4;
}
@media (min-width: 800px) {
  .header__nav-logo-menu .header__nav--menu {
    display: flex;
    margin-right: 8px;
  }
}

@media (min-width: 800px) {
  .hamburger1 {
    display: none;
  }
}
.hamburger1 span {
  width: 20px;
  height: 2px;
  background: #08A6E4;
  display: block;
  margin: 3px 20px;
}

.nav {
  margin-right: 15px;
}

.container {
  width: 1352px;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
  }
}

.header {
  max-width: 100%;
}

.header__banner {
  max-height: calc(100vh - 3.375rem);
  width: 100%;
}

.header__banner-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4.375rem);
  margin-top: 8%;
}

.header__banner-main h1 {
  font-size: 3.0625rem;
  line-height: 3.5625rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.header__banner-main-text--description {
  line-height: 1.375rem;
  font-weight: 400;
  margin: 2.375rem 2rem;
  text-align: center;
}

.header__banner-main-text--button {
  display: block;
  border-radius: 40px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  border: none;
  padding: 1.6rem 5.75rem;
  margin: 0 20px;
}
@media (min-width: 800px) {
  .header__banner-main-text--button {
    padding: 1.6rem 9.8rem;
  }
}

.header__banner-main-text--button a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  outline: none;
  position: relative;
  z-index: 1;
}

.header__banner-background {
  margin-top: 15%;
  display: block;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 800px) {
  .header__banner-background {
    margin-top: 0;
  }
}

.statistics .container {
  width: 1352px;
  margin: 0 auto;
  background: #FFFFFF;
}
@media (max-width: 1352px) {
  .statistics .container {
    width: 100%;
  }
}

.statistics .container h2 {
  font-size: 1.875rem;
  line-height: 2.625rem;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0.8125rem auto;
  text-align: center;
}
@media (min-width: 800px) {
  .statistics .container h2 {
    font-size: 2.25rem;
    margin: 6.25rem auto;
  }
}

.statistics__icons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  .statistics__icons {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7.5625rem;
  }
}

.statistics__icons-red, .statistics__icons-blue, .statistics__icons-green {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics__icons-circle--red, .statistics__icons-circle--blue, .statistics__icons-circle--green {
  width: 3.9375rem;
  height: 3.9375rem;
  border-radius: 50%;
  margin: 0.8175rem;
  position: relative;
}

.statistics__icons--photo {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-65%, -50%);
}

.statistics__icons-circle--red {
  background: #FB3B64;
}

.statistics__icons-circle--blue {
  background: #08A6E4;
}

.statistics__icons-circle--green {
  background: #55DFB4;
}

.statistics__icons-number {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.375rem;
}

.statistics__icons-additional-text {
  font-size: 1.0625rem;
  line-height: 1.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #A5A5A5;
  margin-top: 1.1875rem;
}

.container-benefits {
  width: 1352px;
  margin: 0 auto;
  background-color: #F7F7F7;
}
@media (max-width: 1352px) {
  .container-benefits {
    width: 100%;
  }
}

.benefits {
  width: 100%;
  background-color: #F7F7F7;
}
.benefits .benefits__box {
  margin: 2.625rem 1.875rem;
  display: flex;
  flex-direction: column;
}
.benefits .benefits__box .benefits__box-one, .benefits .benefits__box .benefits__box-two {
  background-color: #FFFFFF;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 1.375rem;
}
@media (min-width: 800px) {
  .benefits .benefits__box .benefits__box-one, .benefits .benefits__box .benefits__box-two {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 370px;
  }
}
.benefits .benefits__box .benefits__box-one .benefits__box-text-primary, .benefits .benefits__box .benefits__box-two .benefits__box-text-primary {
  font-size: 1.875rem;
  line-height: 2rem;
  padding: 1.68rem 0;
}
.benefits .benefits__box .benefits__box-one .benefits__box-image-1 img,
.benefits .benefits__box .benefits__box-one .benefits__box-image-2 img,
.benefits .benefits__box .benefits__box-one .benefits__box-image-3 img, .benefits .benefits__box .benefits__box-two .benefits__box-image-1 img,
.benefits .benefits__box .benefits__box-two .benefits__box-image-2 img,
.benefits .benefits__box .benefits__box-two .benefits__box-image-3 img {
  position: relative;
  z-index: 1;
  width: 192px;
  height: 109px;
}
@media (min-width: 800px) {
  .benefits .benefits__box .benefits__box-one .benefits__box-image-1 img,
.benefits .benefits__box .benefits__box-one .benefits__box-image-2 img,
.benefits .benefits__box .benefits__box-one .benefits__box-image-3 img, .benefits .benefits__box .benefits__box-two .benefits__box-image-1 img,
.benefits .benefits__box .benefits__box-two .benefits__box-image-2 img,
.benefits .benefits__box .benefits__box-two .benefits__box-image-3 img {
    width: 386px;
    height: 219px;
  }
}

.benefits__box-three {
  background-color: #FFFFFF;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 0 0;
}
@media (min-width: 800px) {
  .benefits__box-three {
    flex-direction: row;
    gap: 20%;
    padding-top: 0;
    height: 370px;
    background-color: #F7F7F7;
  }
}
.benefits__box-three .benefits__box-text-three {
  padding: 1.875rem 1.375rem;
  background-color: #FFFFFF;
}
.benefits__box-three .benefits__box-text-primary {
  font-size: 1.875rem;
  line-height: 2rem;
  padding-bottom: 1.68rem;
}
.benefits__box-three .benefits-box-3-img {
  background-color: #55DFB4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 195px;
}
@media (min-width: 800px) {
  .benefits__box-three .benefits-box-3-img {
    height: 370px;
  }
}
.benefits__box-three .benefits-box-3-img .benefits__box-image-3 img {
  width: 192px;
  height: 109px;
}
@media (min-width: 800px) {
  .benefits__box-three .benefits-box-3-img .benefits__box-image-3 img {
    width: 386px;
    height: 219px;
  }
}

.benefits__box-image-1 {
  position: relative;
  margin-top: 0.5rem;
}
@media (min-width: 800px) {
  .benefits__box-image-1 {
    margin-top: 1rem;
  }
}
.benefits__box-image-1:before {
  content: "";
  border-radius: 41px;
  width: 127px;
  height: 127px;
  background-color: #FB3B64;
  position: absolute;
  top: -24%;
  right: 0;
  z-index: 0;
  transform: rotate(45deg);
}
@media (min-width: 800px) {
  .benefits__box-image-1:before {
    top: -34%;
    right: 5%;
    width: 255px;
    height: 255px;
  }
}

.benefits__box-image-2 {
  position: relative;
  margin-top: 0.5rem;
}
.benefits__box-image-2:before {
  content: "";
  border-radius: 50%;
  width: 127px;
  height: 127px;
  background-color: #08A6E4;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
@media (min-width: 800px) {
  .benefits__box-image-2:before {
    width: 320px;
    height: 320px;
    top: -25%;
  }
}

@media (min-width: 800px) {
  .benefits__box-text-three, .benefits__box-text-two, .benefits__box-text-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    max-width: 416px;
  }
}
.benefits__box-text-three .benefits__box-text-primary, .benefits__box-text-two .benefits__box-text-primary, .benefits__box-text-one .benefits__box-text-primary {
  justify-self: flex-start;
}

@media (min-width: 800px) {
  .line-one, .line-two, .line-three {
    width: 80%;
    height: 4px;
    background-color: black;
  }
}

@media (min-width: 800px) {
  .line-one {
    background-color: #FB3B64;
  }
}

@media (min-width: 800px) {
  .line-two {
    background-color: #08A6E4;
  }
}

@media (min-width: 800px) {
  .line-three {
    background-color: #55DFB4;
  }
}

.container {
  width: 1352px;
  margin: 0 auto;
  background: #FFFFFF;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
  }
}

.pricing {
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
}

.pricing_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 800px) {
  .pricing_box {
    flex-direction: row;
  }
}

.pricing_h {
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-family: "Raleway", sans-serif;
  margin: 3.125rem auto;
  text-align: center;
}
@media (min-width: 800px) {
  .pricing_h {
    margin: 4.25rem auto;
  }
}

.pricing__box {
  height: 15.6875rem;
  width: 18.3125rem;
  margin-bottom: 3.375rem;
  border-radius: 1.125rem;
  border: 1px solid black;
}
@media (min-width: 800px) {
  .pricing__box {
    height: 28.8125rem;
  }
}

.pricing__basic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-color: #FB3B64;
  position: relative;
}
@media (min-width: 800px) {
  .pricing__basic {
    flex-direction: column;
    justify-content: center;
  }
}

.pricing__professional {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-color: #08A6E4;
  position: relative;
}
@media (min-width: 800px) {
  .pricing__professional {
    flex-direction: column;
    justify-content: center;
  }
}

.pricing__premium {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-color: #55DFB4;
  position: relative;
}
@media (min-width: 800px) {
  .pricing__premium {
    flex-direction: column;
    justify-content: center;
  }
}

.pricing__basic:hover, .pricing__basic:active, .pricing__professional:hover, .pricing__professional:active, .pricing__premium:hover, .pricing__premium:active {
  transform: scale(1.02);
}

.pricing__basic:hover, .pricing__basic:active, .pricing__basic .btn:hover, .pricing__basic .btn:active {
  box-shadow: 5px 10px 27px rgba(255, 9, 17, 0.1607843137);
}

.pricing__professional:hover, .pricing__professional:active, .pricing__professional .btn:hover, .pricing__professional .btn:active {
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.1607843137);
}

.pricing__premium:hover, .pricing__premium:active, .pricing__premium .btn:hover, .pricing__premium .btn:active {
  box-shadow: 5px 10px 27px #55DFB4;
}

.btn {
  text-align: center;
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 23px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.8125rem;
  font-weight: 700;
  box-sizing: border-box;
  padding-top: 1.15625rem;
}

.pricing__basic .btn {
  background: #FB3B64;
}

.pricing__professional .btn {
  background: #08A6E4;
}

.pricing__premium .btn {
  background: #55DFB4;
}

.pricing__box--text-primary {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
@media (min-width: 800px) {
  .pricing__box--text-primary {
    margin: 1.125rem auto 0.875rem;
  }
}

.pricing__box-price {
  font-size: 2.875rem;
  font-weight: 300;
  padding: 0.5625rem 0;
  text-align: center;
  display: block;
}
@media (min-width: 800px) {
  .pricing__box-price {
    margin-bottom: 1.5625rem;
  }
}

.pricing__basic .pricing__box-price {
  color: #FB3B64;
}
@media (min-width: 800px) {
  .pricing__basic .pricing__box-price {
    padding-bottom: 3.75rem;
  }
}

.pricing__professional .pricing__box-price {
  color: #08A6E4;
}
@media (min-width: 800px) {
  .pricing__professional .pricing__box-price {
    padding-bottom: 3.75rem;
  }
}

.pricing__premium .pricing__box-price {
  color: #55DFB4;
}
@media (min-width: 800px) {
  .pricing__premium .pricing__box-price {
    padding-bottom: 3.75rem;
  }
}

.pricing__professional .pricing__box-price::after, .pricing__premium .pricing__box-price::after {
  content: "Limited offer";
  margin: 0.3125rem auto;
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #000000;
}

.pricing__box--ul {
  max-height: 100%;
}

.pricing__box--ul li {
  display: block;
  text-align: left;
  margin: 1.25rem auto;
}
@media (min-width: 800px) {
  .pricing__box--ul li {
    text-align: center;
  }
}

.pricing__box--ul .pricing__box--li-yes::before {
  content: "";
  box-sizing: border-box;
  height: 11px;
  width: 11px;
  border-radius: 2px;
  border: 1px solid #55DFB4;
  background-image: url("../images/Checkmark.svg");
  background-size: 6px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.8125rem;
  display: inline-block;
}

.pricing__box--ul .pricing__box--li-no::before {
  content: "";
  height: 11px;
  width: 11px;
  background-image: url("../images/Close.svg");
  background-repeat: no-repeat;
  margin-right: 0.8125rem;
  display: inline-block;
}

.container {
  width: 1352px;
  margin: 0 auto;
  background: #FFFFFF;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
  }
}

.contact {
  max-width: 100%;
  margin: 8.4375rem 10px 0 10px;
  display: block;
}

.contact__ {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 8.4375rem;
}
@media (min-width: 800px) {
  .contact__ {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.contact__questions {
  display: flex;
  flex-direction: column;
  margin: 3.3125rem 0;
}

.contact__questions--primary {
  font-size: 3.0625rem;
  line-height: 3.5625rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-bottom: 1.375rem;
}

.contact__questions--secondary {
  line-height: 1.375rem;
  font-weight: normal;
  margin-bottom: 2.625rem;
}

.contact__questions--email-phone {
  display: flex;
  flex-direction: column;
  line-height: 1.375rem;
  color: #A5A5A5;
}
@media (min-width: 800px) {
  .contact__questions--email-phone {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact__questions--email::before {
  content: "";
  display: inline-block;
  width: 1.6875rem;
  height: 1.6875rem;
  background-image: url("../images/Mail Icon.svg");
  background-repeat: no-repeat;
  background-size: 1.6875rem;
  position: relative;
  right: 0;
  transform: translateY(25%);
  padding-right: 8px;
}

.contact__questions--phone::before {
  content: "";
  display: inline-block;
  width: 1.6875rem;
  height: 1.6875rem;
  background-image: url("../images/Phone Icon.svg");
  background-repeat: no-repeat;
  background-size: 1.6875rem;
  position: relative;
  right: 1px;
  transform: translateY(25%);
}

form {
  display: flex;
  flex-direction: column;
}

.name, .email, .checkbox {
  display: block;
  margin-bottom: 30px;
}

.input-text {
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 3.28px;
  font-weight: 700;
  color: #08A6E4;
}

input {
  border: 0;
}

.name input, .email input {
  min-width: 19.5rem;
  height: 2.625rem;
  border-bottom: 1px solid;
}
@media (min-width: 800px) {
  .name input, .email input {
    width: 27.4375rem;
    height: 2.625rem;
    border-bottom: 1px solid;
  }
}

.checkbox {
  min-width: 17.4375rem;
  display: block;
  font-size: 0.75rem;
  color: #707070;
}
@media (min-width: 800px) {
  .checkbox {
    width: 27.4375rem;
  }
}

.checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: #95989A 1px solid;
  position: absolute;
  display: inline-block;
}

.checkbox input:checked {
  background-image: url("../images/Checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox span {
  margin: 0 20px;
  display: block;
  padding-left: 15px;
}

.contact__input button {
  margin-bottom: 3.6875rem;
  border-radius: 35px;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.1607843137);
  background: #08A6E4;
  height: 3.5625rem;
  width: 14.125rem;
  border: 0;
  color: #FFFFFF;
  align-self: flex-end;
}

.container {
  width: 1352px;
  margin: 0 auto;
  background: #FFFFFF;
}
@media (max-width: 1352px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

.footer {
  height: 5.5625rem;
  display: block;
  box-shadow: 0 -5px 40px var(--color-primary-shadow);
  background: #F7F7F7;
  max-width: 100%;
}

.footer__logo_icons {
  height: 5.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F7F7F7;
}

.footer__logo--text {
  font-size: 1.625rem;
  line-height: 1.875rem;
  color: #08A6E4;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-bottom: 0.375rem;
}

.footer__logo--additional-text {
  font-size: 0.6875rem;
  color: rgba(0, 0, 0, 0.1607843137);
  line-height: 1rem;
  font-weight: 400;
}

.footer__icons img {
  margin: 10px;
}

:root {
  font-family: "Open Sans", sans-serif;
}

/*




.footer {
  height: 5.5625rem;
  display: block;
  box-shadow: 0 -5px 40px var(--color-primary-shadow);
  background: var(--color-light-grey);
}
.footer .container{
  height: 5.5625rem;
  display: block;
}
.footer__logo_icons {
  height: 5.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light-grey);
}
.footer__logo--text{
  font-size: 1.625rem;
  line-height: 1.875rem;
  color: var(--color-primary);
  font-family: var(--font-family-raleway);
  font-weight: 300;
  margin-bottom: 0.375rem;
}
.footer__logo--additional-text{
  font-size: 0.6875rem;
  color: var(--color-primary-shadow);
  line-height: 1rem;
  font-weight: 400;
}
.footer__icons img{
  margin: 10px;
}
*/
/*# sourceMappingURL=main.css.map */
